body{
    margin:0;
    padding:0;
}
.topnavbar{
    display: flex;
    justify-content: space-around;  
    background-color: rgb(236, 155, 4);
    margin-bottom: 2px;
}
.topnavbar a{
    display: flex;
    color: black;
}
.heading1{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}
.wine{
    display: flex;
    justify-content: center;
   width: 100%;
}
.text1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-family: sans-serif;
}
.heading2{
    display: flex;
    align-self: flex-start;
   padding-left: 20px;
}
.container2{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}
.container3{
    background-color: lightgrey;
    font-family: sans-serif;
    padding-left: 20px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.whiteboxes{
    display:flex;
    background-color: white;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: sans-serif;
 justify-content:  center;
 margin-top: 0px;
}